- name: Render janus-gateway config templates
  become: true
  ansible.builtin.template:
    mode: 0644
    src: systemd/janus.service.j2
    dest: /etc/systemd/system/janus.service
  notify:
    - restart janus service

- name: Enable service janus
  become: true
  ansible.builtin.systemd:
    name: janus
    enabled: true